.moviesItem {
  list-style: none;
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}

.moviesImage {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.activeLink {
  color: coral;
}
